
# Local env files (may contain secrets)
.env
.env.dev
models/stable-diffusion-v1-5/
config/midgarapp-a2e246d71083.json


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
//
###< symfony/framework-bundle ###
